<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= image_tag 'tomistagram_logo.png', class: 'logo' %>
    </div>
</header>
<div class="pictures-container">
    <% @pictures.each do |picture| %>
        <div class="image-container-pc">
            <div class="image-box">
                <%= image_tag picture.file, class: 'picture' %>
            </div>
            <div class="picture-info">
                <span><%= picture.user.name %></span>
                <span><%= picture.point %>pts</span>
            </div>
            <div class="favorite-box">
                  <%= link_to master_results_path(params: { id: picture.id }), class: 'favorite', method: :post, remote: true do %>
                    <button class="bubbly-button">
                        <i class="fas fa-heart icon-size"></i>
                    </button>
                <% end %>
            </div>
        </div>
    <% end %>
</div>
<script>
    var animateButton = function(e) {

    e.preventDefault;
    e.target.classList.remove('animate');
    
    e.target.classList.add('animate');
    setTimeout(function(){
        e.target.classList.remove('animate');
    },700);
    };

    var bubblyButtons = document.getElementsByClassName("bubbly-button");

    for (var i = 0; i < bubblyButtons.length; i++) {
    bubblyButtons[i].addEventListener('click', animateButton, false);
    }
</script>